@import "tailwindcss";

@theme {
  --color-grad-purple: #7226ff;
  --color-grad-blue: #160078;
  --color-grad-dark-blue: #010030;
}

@theme inline {
  --font-inter: var(--font-inter);
}

body {
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

*::selection {
  background-color: white;
  color: var(--color-grad-purple);
}

.marquee {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 56px;
  overflow-x: hidden;
}

.track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 32s linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
